.container {
    width: 80%;
    height: 100%;
    margin: 0 auto 50px;
    position: relative;
}

#title {
    display: flex;
    position: relative;
    justify-content: center;
    font: bold;
    font-size: 40px;
}

.card-container {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: 20px;
}

.card {
    width: 300px;
    height: 390px;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    justify-self: center;
    background: #27272A;
    color: #fff;

}

.thumbnail{
    width: 300px;
    height: 150px;
    border-bottom: 1px solid #c3c3c3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tbh-title{
    font-weight: bold;
    font-size: 32px;
}

.title {
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

.price {
    text-align: center;
}

.btn-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn-container  button {
    width: 70px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #fff;
    color: #27272A;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.btn-container button:hover{
    background-color: transparent;
    color: #fff;
}

#add {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    background-color: #27272A;
    border: none;

}

.plus {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 38px;
    color: white;
  }

.popup-card {
    width: 500px;
    height: 350px;
    background-color: #fff;
    position:absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
}

#popup-title{
    text-align: center;
}

.popup-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
}

.popup-label {
    display: inline-block;
    justify-self: center;
}

.popup-input {
    width: 150px;
    justify-self: start;
    border-radius: 10px;
    border: 1px solid #27272A;
}

#btn-popup {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

#btn-popup > button {
    width: 100px;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    border: 1px solid #27272A;
    background-color: #27272A;
    color: #fff;
    cursor: pointer;
}